/* Dark mode */

.abyss {
  background-color: #180026;
  background-image: linear-gradient(359deg, rgba(24, 0, 38, 1) 10%, rgba(13, 1, 64, 1) 75%, rgba(0, 72, 87, 1) 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;

  color: #F7A;
  a {
    color: #F9C;
  }
}
